In [59]:
import nltk
import pandas as pd
import pymysql
from sklearn import linear_model
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
engine = create_engine('mysql+pymysql://fakenews_db:coins1234@fakenews.cvj9c86ao2su.eu-central-1.rds.amazonaws.com:3306/fakenews')

In [5]:
query='SELECT * FROM news_article WHERE date>\'2007-07\' '
df = pd.read_sql_query(query, engine)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1292, "Incorrect datetime value: '2007-07' for column 'date' at row 1")
  result = self._query(query)

In [7]:
df.head()

,id,date,newspaper,url,heading,content,doc_sentiment_nltk,doc_label_nltk,doc_sentiment_watson,doc_label_watson,...,emo_tar_joy,emo_tar_sadness,emo_tar_fear,emo_tar_disgust,emo_tar_anger,emo_joy,emo_sadness,emo_fear,emo_disgust,emo_anger
0,8980,2017-11-09,Washington Post,https://www.washingtonpost.com/entertainment/b...,WALL STREET JOURNAL-BEST SELLERS,Best-Selling Books Week Ended November 5.FICTI...,0.6590,positive,-0.5855,negative,...,0.609848,0.17347,0.070741,0.071486,0.088836,0.609848,0.17347,0.070741,0.071486,0.088836
1,8981,2017-11-09,Washington Post,https://www.washingtonpost.com/entertainment/b...,USA TODAY BEST-SELLERS,InPackage:ENTHD PENTHD; ap_fixture:Books Best ...,0.9595,positive,0.0000,neutral,...,0.646072,0.172829,0.052084,0.065613,0.08967,0.646072,0.172829,0.052084,0.065613,0.08967
2,8982,2017-11-09,Washington Post,https://www.washingtonpost.com/business/techno...,Kindle with your kale? Amazon to open shops in...,NEW YORK  You may see more of Amazon inside W...,0.8015,positive,0.9110,positive,...,0.614282,0.088978,0.008315,0.019514,0.185325,0.614282,0.088978,0.008315,0.019514,0.185325
3,8983,2017-11-10,Washington Post,https://www.washingtonpost.com/business/econom...,Exit strategy: They expanded their window busi...,I generally resist writing about a company a s...,0.9993,positive,0.3693,positive,...,0.559129,0.478688,0.095098,0.077245,0.114842,0.559129,0.478688,0.095098,0.077245,0.114842
4,8984,2017-11-10,Washington Post,https://www.washingtonpost.com/entertainment/t...,"Now that Louis C.K. has admitted hes a pig, c...",Its the newest and probably least fun genre i...,0.9869,positive,-0.1370,negative,...,0.549579,0.596525,0.097564,0.205572,0.171892,0.549579,0.596525,0.097564,0.205572,0.171892

In [45]:
df= df.replace('Missing Keyword', np.nan).replace('No Article', np.nan).replace('unsupported language', np.nan)
df= df.dropna()
len(df)

15439

In [46]:
X= df[['target_sentiment','emo_tar_joy','emo_tar_sadness','emo_tar_fear','emo_tar_disgust','emo_tar_anger']].replace('Missing Keyword', np.nan).replace('No Article', np.nan).replace('unsupported language', np.nan)
Y=df['newspaper'].replace(['Washington Post'], 1).replace(['The Guardian'], 0).replace(['New York Times'],0)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [51]:
h = .02
logreg = linear_model.LogisticRegression(C=1e5)
logreg.fit(X_train, y_train)

LogisticRegression(C=100000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [52]:
logreg.get_params()

{'C': 100000.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'max_iter': 100,
 'multi_class': 'ovr',
 'n_jobs': 1,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'liblinear',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [58]:
y_pred= logreg.predict(X_test)
accuracy_score(y_test, y_pred)

0.71567357512953367